.Tarea {
    position: relative;
    margin-top: 15px;
    background: #F2F2F6;
    width: 300px;
    min-height: 100px;
    box-shadow: 5px 5px 10px;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 15px solid;
    border-right-color: blue;
}

.Tarea.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.buttonsTasks {
    box-shadow: rgb(240, 247, 250) 0px 1px 0px 0px;
    margin-right: 5px;
    background: linear-gradient(rgb(51, 189, 239) 5%, rgb(1, 154, 210) 100%) rgb(51, 189, 239);
    border-radius: 6px;
    border: 1px solid rgb(5, 127, 208);
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-weight: bold;
    padding: 6px 6px;
    text-decoration: none;
    text-shadow: rgb(91, 97, 120) 0px -1px 0px;
}